* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-head { 
  background-color: rgb(172, 26, 152);
  color: white;
  position: sticky;
}

body {
  background-color: rgba(255, 20, 216, 0.445);
}

img {
  border: black solid .5rem;
  float: right;
  height: 25rem;
  width: 35rem;
  margin: 1rem;
}

nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.about-me {
  min-height: 30vh;
  margin: 2rem; 
  padding: 1rem;
}

.background {
  min-height: 40vh;
  margin: 2rem;
  padding: 1rem; 
}

.projects {
  min-height: 50vh;
  margin: 2rem;
  padding: 1rem;
}

