* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-head { 
  background-color: rgb(172, 26, 152);
  color: white;
  position: sticky;
}

body {
  background-color: rgba(255, 20, 216, 0.445);
}

nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

